@model IEnumerable<VulnusCloud.Models.ReportByProjectViewModel>

@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>

<p>
    
</p>

<div class="alert alert-primary" role="alert">
    @{
        if (Model.Count() > 0)
        {
            <h4 class="alert-heading">Current Score</h4>
            <p>
                This is the score of the most recent <a asp-action="Create" asp-controller="FileUpload">file uploaded</a> for the project.
            </p>
            <p>
                For a single lookup <a asp-action="Index" asp-controller="LookUp">click here</a>.
            </p>
            if (ViewData["Status_Helper"] != null && ViewData["Status_Helper"].ToString() != "")
            {
                <h4 class="alert-heading">Status</h4>
                <p>
                    @Html.Raw(ViewData["Status_Helper"])
                </p>
            }
            <hr>
            <p class="mb-0">
                <strong>Tip!</strong> Upload your components reference file everytime a new dependancy is added or a version is changed.
            </p>
        }
        else
        {
            <p>
                No data loaded, check <a href="/Project">project</a> and <a href="/FileUpload/Create">files uploaded</a>.
            </p>
        }
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Reports" asp-route-id="@item.ProjectId"> @Html.DisplayFor(modelItem => item.ProjectName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
        }
    </tbody>
</table>
