@model VulnusCloud.Models.ReportLineViewModel

@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>
<p>
    @Html.Raw(ViewData["Breadcrumbs"])
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OssIndexs.First().ComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OssIndexs.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OssIndexs.First().Score)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OssIndexs)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="OssIndex" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ComponentName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="@Html.DisplayFor(model => item.ScoreFieldClass)">
                @Html.DisplayFor(modelItem => item.Score)
            </td>
        </tr>
        }
    </tbody>
</table>
