@model VulnusCloud.Models.ReportViewModel

@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>
<p>
    @Html.Raw(ViewData["Breadcrumbs"])
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reports.First().InsertDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reports.First().Score)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reports)
        {
        <tr>
            <td>
                <a asp-action="ReportLines" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.InsertDate)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
        </tr>
        }
    </tbody>
</table>
