@model VulnusCloud.Models.ReportLineViewModel

@{
    ViewData["Title"] = "Report Lines";
}

<h1>Report Lines</h1>

<h4>@Html.DisplayFor(model => model.ProjectName)</h4>
<p>
    <a asp-action="Index" asp-controller="Report">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OssIndexs.First().ComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OssIndexs.First().Score)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OssIndexs)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="OssIndex" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ComponentName)</a>
            </td>
            <td class="@Html.DisplayFor(model => item.ScoreFieldClass)">
                @Html.DisplayFor(modelItem => item.Score)
            </td>
        </tr>
        }
    </tbody>
</table>
